.footer {
    padding: 15px 0  10px 0;
    background-color: #fca699;
    width: 100%;
}

.footer__text {
    text-align: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

@media screen and (min-width: 800px) {
    .footer__links {
        flex-direction: row;
        margin: 0 35%;
    }
}