.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffe4aa;
}

@media screen and (min-width: 600px) {
    .main {
        flex-direction: row;
        flex-wrap: wrap;
    }
}