.page {
  background-color: #25232d;
  color: #fbfee5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  min-height: 100%;
}

body {
  background-color: #25232d;
}
