.pokemon__card {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000be;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon__card-container {
  margin: 50px auto 0;
  background-color: #fca699;
  color: #000000;
  width: 282px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.pokemon__close-button {
  position: relative;
  top: -344px;
  left: 254px;
  width: 26px;
  height: 26px;
}

.pokemon__card-header {
  background-color: #c9729f;
  display: flex;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;
  align-items: center;
}

.pokemon__card_logo {
  width: 20px;
  margin: 0 15px 0 10px;
}

.pokemon__card-image {
  z-index: 5;
  filter: drop-shadow(
    0 0 15px rgba(0, 0, 0, .8)
  );
}
.pokemon__card_name {
  margin: 0;
}

.pokemon__card_number {
  margin: 0 20px 0 0;
  color: #383838;
  font-size: 14px;
}

.pokemon__card-types {
  text-align: center;
  background-color: #583b7e;
  color: #fff;
  padding: 5px;
  width: 60%;
  margin: 0 auto 10px auto;
  border-radius: 10px;

}
.pokemon__card-info {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  width: 80%;
}

.pokemon__weight-img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}

.pokemon__height-img {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
}

.pokemon__weight {
  display: flex;
  align-items: center;
  background-color: #ffe4aa;
  width: 68%;
  border-radius: 10px;
  height: 38px;
  padding: 5px;
}

.pokemon__card-weight {
  font-weight: 500;
}

.pokemon__card-height {
  font-weight: 500;
}

.pokemon__height {
  display: flex;
  align-items: center;
  background-color: #ffe4aa;
  width: 68%;
  border-radius: 10px;
  height: 38px;
  padding: 5px;
}

.pokemon__card-stats {
  margin: 20px auto;
  background-color: #ffe4aa;
  width: 45%;
  padding: 8%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

@media screen and (min-width: 800px) {
}